# This will export configuration variables, you can adjust them
export GOPYVENV_ENABLED="1"
export GOPYVENV_DIR_SEPARATOR=","
export GOPYVENV_DIR_NAMES="venv,.venv,virtenv,.virtenv"

export PATH=$HOME/.gopyvenv/bin:$PATH

# This will help with new terminal instances
eval "$(gopyvenv)"
# This will help with cd
# change pwd hook
gopyvenv_check() {
    eval "$(gopyvenv)"
}

case $PROMPT_COMMAND in
    *gopyvenv_check*)
        ;;
    *)
        PROMPT_COMMAND="${PROMPT_COMMAND:+$(echo "${PROMPT_COMMAND}" | awk '{gsub(/; *$/,"")}1') ; }gopyvenv_check"
        ;;
esac
